@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #020617;
    /* slate-950 */
    color: #f8fafc;
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

.link {
   @apply cursor-pointer underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}


#the-game-board {
    width: min(100%, calc(100vh - 80px))
}

.game-wrap canvas {
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
}