@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #020617;
    /* slate-950 */
    color: #f8fafc;
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}


.game-wrap canvas {
    width: 100%;
    height: 100%;
    cursor: none;
}